@using MvcContrib.UI.Grid;
@using MVCStore.Admin.Common
@model MVCStore.Admin.Models.PagedViewModel<MVCStore.Data.Entities.Category>


@{
    ViewBag.Title = "Category List";
    Layout = "~/Areas/MVCStore.Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Category List</h2>
@{Html.RenderPartial("Pager", Model.PagedList);}
@Html.Grid(Model.PagedList).Columns(column =>{
    column.For(x => Html.ActionQueryLink(x.Name, "Details", new { id = x.ID })).Named("Name").InsertAt(0);
    column.For(x => x.Description);
}).Sort(Model.GridSortOptions).Attributes(@class => "grid-style")