@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Areas/MVCStore.Admin/Views/Shared/_LoginLayout.cshtml";
}

<div class="row top:0px">
    <div class="col-md-6 col-sm-9 col-xs-9 center-table">
            <h2>Forgot Password</h2>
            <div class="form-group">
                <input class="form-control" type="text" name="E-Mail" placeholder="Email">
            </div>
            <button class="btn btn-lg btn-primary" type="submit">Submit</button>
    </div>
</div>