@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="container">
    <hgroup class="title">
        <h1>@ViewBag.Title.</h1>
        <h2>@ViewBag.Message</h2>
    </hgroup>  
    <h2>This is a Test MVC Store Application</h2>
    <br/>
    <br/>
    <h3>Authors:</h3>
    <span class="byline">Joseph Joaquin</span> 
    <br/>
    <span class="byline">Kumar Shah</span> 
</div>