<div id="header-wrapper">
    <div id="header" class="container">
        <div id="menu">
            <ul>
                <li class="current_page_item"><a href="@Url.Action("Index","Home")" accesskey="1" title="">Homepage</a></li>
                <li><a href="@Url.Action("Index","Portfolio")" accesskey="2" title="">Portfolio</a></li>
                <li><a href="@Url.Action("Index","Product")" accesskey="3" title="">Products</a></li>
                <li><a href="@Url.Action("About","Home")" accesskey="4" title="">About Us</a></li>
                <li><a href="#" accesskey="5" title="">Contact Us</a></li>
            </ul>
        </div>
        <div id="logo">
            <h1><a href="#">MVC Store</a></h1>
            @*<span>Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a></span>*@ 
        </div>
    </div>
</div>